body {
    color: white;
    background-color: #CD853F;
    font-family: Arial, Helvetica, sans-serif ;
}
ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 16px;
}
a {
    color: white;
    text-decoration: none;
}
nav a:hover {
    color: #D2B48C;
}
footer img {
    width: 40px;
    height: 40px;
}
footer {
    display: flex;
    justify-content: center;
}
footer a {
    margin: 0 20px;
    text-align: center;
}
footer p {
    margin-top: 0px;
}
.center {
    text-align: center;
}
.img-circular {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 4px solid white;
  object-fit: cover;
}
